@{

    ViewBag.Title = "About";

    Layout = "~/Views/Shared/_Layout.cshtml";

}<div class="single-hero-post bg-overlay">
    <!-- Post Image -->
    <div class="slide-img bg-img" style="background-image: url(../../Content/img/bg-img/1.jpg);"></div>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <!-- Post Content -->
                <div class="hero-slides-content text-center">
                    <form action="#" method="post">
                        <div class="section-heading">
                            <h2>ABOUT US</h2>
                            <p>
                                Find Your Spot is more than just a space to park your car. We make it easy, comfortable and affordable for you! There are hundreds of spots you can choose from, all over the city.

                                Save time and money with this simple to use application!

                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
