@{

    ViewBag.Title = "Contact";

    Layout = "~/Views/Shared/_Layout.cshtml";

}<div class="single-hero-post bg-overlay">
    <!-- Post Image -->
    <div class="slide-img bg-img" style="background-image: url(../../Content/img/bg-img/4.jpg);"></div>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <!-- Post Content -->
                <div class="hero-slides-content text-center">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-md-12 mb-6" align="center">
                                <div class="widget-title">
                                    <h3 class="white-text">CONTACT</h3>
                                </div>
                                <div class="contact-information">
                                    <p><span>Address:</span> Panepistimiou 37, Athens</p>
                                    <p><span>Phone:</span> +1 234 122 122</p>
                                    <p><span>Email:</span> info@findyourspot.com</p>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

